# Build artifacts
*.exe
!PC_Booster_Pro_v2.0.exe

# C# compiled
*.pdb
*.dll

# Temp files
*.tmp
*.log

# Zone Identifier ADS
*.exe:Zone.Identifier
*.exe.*

# VS files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
